{% set info %}
    <span class="info">{{ 'With this setting enabled, Blitz will begin caching pages according to the included/excluded URI patterns. Disable this setting to prevent Blitz from caching any new pages.'|t('blitz') }}</span>
{% endset %}
{{ forms.lightswitchField({
    label: "Caching Enabled"|t('blitz'),
    instructions: "Whether caching should be enabled."|t('blitz') ~ info,
    warning: (config.cachingEnabled is defined ? configWarning('cachingEnabled')),
    name: 'settings[cachingEnabled]',
    on: settings.cachingEnabled,
    warning: (craft.blitz.getWebAliasExists() ? "One or more sites use `@web` in their base URL. The `@web` alias is not recommended if it is determined automatically."|t('blitz')),
    required: true,
}) }}
