{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {{ "This is being overridden by the {setting} config setting."|t('app', {setting: '<code>' ~ setting ~ '</code>' })|raw }}
{%- endmacro %}

{% from _self import configWarning %}


{{ forms.selectField({
    first: true,
    label: "Replace Transforms"|t('blitz'),
    instructions: "How image transform URLs should be replaced."|t('untransform'),
    warning: (config.replaceTransforms is defined ? configWarning('replaceTransforms')),
    name: 'replaceTransforms',
    options: {
        0: "Do NOT replace image transform URLs"|t('untransform'),
        1: "Replace image transform URLs with a placeholder image"|t('untransform'),
        2: "Replace image transform URLs with a base URL prefix prepended"|t('untransform'),
    },
    value: settings.replaceTransforms,
    required: true,
}) }}

{{ forms.textField({
    label: "Placeholder Image"|t('untransform'),
    instructions: "The URL of the placeholder image to replace transformed images with. Leave this blank to use a default placeholder image."|t('untransform'),
    warning: (config.placeholderImage is defined ? configWarning('placeholderImage')),
    name: 'placeholderImage',
    value: settings.placeholderImage,
    errors: settings.getErrors('placeholderImage'),
}) }}

{{ forms.textField({
    label: "Base URL Prefix"|t('untransform'),
    instructions: "The URL prefix to prepend to the volume's base URL."|t('untransform'),
    warning: (config.baseUrlPrefix is defined ? configWarning('baseUrlPrefix')),
    name: 'baseUrlPrefix',
    value: settings.baseUrlPrefix,
    errors: settings.getErrors('baseUrlPrefix'),
}) }}
