{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {{ "This is being overridden by the {setting} config setting."|t('app', {setting: '<code>' ~ setting ~ '</code>' })|raw }}
{%- endmacro %}

{% from _self import configWarning %}


{{ forms.lightswitchField({
    first: true,
    label: "Enabled"|t('untransform'),
    instructions: "Whether transform URLs should be replaced."|t('untransform'),
    warning: (config.enabled is defined ? configWarning('enabled')),
    name: 'settings[enabled]',
    warning: (config.enabled is defined ? configWarning('enabled')),
    on: settings.enabled,
    required: true,
}) }}
